
/* initialize */
*, 
*::after, 
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: poppins;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
    max-width: 100px;
}

.container {
    width: 80%;
    margin: 3rem auto;
}

.section {
    max-width: 80%;
}

.img {
    max-width: 100%;
}

.card {
    width: 30%;
    flex-direction: column;
    background-color: antiquewhite;
    justify-content: space-between;
    gap: .5rem;
}

p {
    margin: 0;
    
}

.flex {
    display:flex;
}

.rating {
    place-items: center;
    gap: .3rem;
    
}

.img-card {
    border-radius: 10px;
    width: 100%;
}

.img-star{
   justify-self: center;
   width: 10%;
   
}